.settings-container{

    strong, p{
        font-size: 15px;
    }
    ul li{
        list-style: none;
        text-decoration: none !important;
        font-size: 15px;
        cursor: pointer;
    }
}