.create-admin-form {
  max-width: 90%;
  div h4{
    text-align: center;
    margin: 5px 15px 20px ;
  }
  ul li {
    margin-top: 15px;
    list-style: none;
  }
  ul li h6{
    margin-top: 10px;
  }
}
